#container {
    height: 95vh;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

#mainbody{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style-type: none;
    display: inline;
    margin-right: 15px;
}

input[type=searchbar]{
    margin-bottom: 20px;
    width: 100%;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}